<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.0494242 -0.350271 0.695697" rpy="0.0484476 -3.10967 3.13783" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.0494242 -0.350271 0.695697   0.999577 0.00226597 -0.0159093 -0.0242483 base_link camera_color_optical_frame" />
</launch>
