<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.0604704 -0.361489 0.687069" rpy="0.0439908 3.13448 -3.11715" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.0604704 -0.361489 0.687069   0.999676 -0.0122941 0.00328715 -0.0220353 base_link camera_color_optical_frame" />
</launch>
