<launch>

  <!-- <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="enable_sync" value="true" />
    <arg name="align_depth" value="true" />
  </include> -->

  <node name="save_frame_node" pkg="board_localization" type="save_images.py"  output="screen" >
    <param name="images_path" type="string" value="$(find board_localization)/file/" /> 
  </node>

</launch>
